# https://github.com/vercel/next.js/tree/canary/examples/cms-sanity#using-the-sanity-cli
NEXT_PUBLIC_SANITY_PROJECT_ID=
NEXT_PUBLIC_SANITY_DATASET=
SANITY_API_READ_TOKEN="skvXxQNdYNWQ3niS5dX2YS17xxmvj9qhyRkowBi3AUo6jpllaHaRL69YKgT6IajKJSxJE39phYwxqHVleDhQo6qkYEF0qi8FEefnwBdlU7OLtKi5RKXmuFkzvszJLWBbOVEQpUjai4qHsyY2JYRRht7UE6DqgSsJpXZJlPwEGOmnen7dcb8T"
