@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: theme("colors.gray.600");

    --card: 0 0% 100%;
    --card-foreground: theme("colors.gray.800");

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 170 51% 50%;
    --primary-foreground: 0 0% 100%;

    --secondary: 171 28% 40%;
    --secondary-foreground: 0 0% 100%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 7px;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

.top-height {
  height: calc(100vh - 78.7px);
}

p {
  font-size: 13px;
}

.video-overlay {
  height: calc(100vh - 78px);
}

.service-card {
  width: 300px;
  max-width: 100%;

  svg {
    display: block;
    margin: 0 auto;
    width: 6rem;
  }
}

.nav-links {
  li:not(:last-child) {
    padding-right: 3rem;
  }
}

.content-links {
  a:not(:last-child) {
    padding-bottom: 1rem;
  }
}

.about-top {
  background: url("/_assets/dublin.png");
}

.primary-gradient {
  background: linear-gradient(90deg, rgba(64, 193, 172, 1) 0%, rgba(255, 255, 255, 1) 82%);
}

.primary-gradient-reverse {
  background: linear-gradient(90deg, rgba(64, 193, 172, 1) 0%, rgba(255, 255, 255, 1) 82%);
}

.email-icon-padding {
  padding: 3px;
}

.google-meet-iframe {
  height: 636px;
}

.bg-landscape {
  background: url("/_assets/landscape.png") no-repeat center / cover;
}

.bg-curve {
  background: url("/_assets/bg-curve-xs.png") no-repeat top / cover;

  @media only screen and (min-width: 500px) {
    background: url("/_assets/bg-curve-md.png") no-repeat top / cover;
  }

  @media only screen and (min-width: 1000px) {
    background: url("/_assets/bg-curve-lg.png") no-repeat top / cover;
  }
}